<!-- Hero Image -->
<section class="relative bg-bottom h-screen" style="background-image: url('../../../assets/images/hero.jpg');">
    <div class="absolute inset-0 flex items-center justify-center text-center ">
        <div class="px-6 lg:px-6 ">
            <div class="mx-auto max-w-3xl  sm:pt-48 sm:pb-40">
                <div class="bg-gray-100/50 backdrop-filter backdrop-blur-md py-8 px-4 rounded-xl shadow-lg">
                    <h1 class="text-4xl font-bold sm:text-6xl text-red-500">
                        ¡Bienvenido a EPROVET!
                    </h1>
                    <p class="mt-6 text-lg leading-8 sm:text-center text-gray-900">
                        Transforma tu operación agrícola y ganadera con la vanguardia tecnológica. Desde picadoras de
                        última generación hasta sistemas de ordeño de precisión y productos veterinarios de élite,
                        estamos aquí para llevar tus resultados al máximo nivel. Optimiza cada aspecto de tu trabajo en
                        el campo con EPROVET y lidera el camino hacia un futuro agrícola y ganadero innovador y
                        próspero.
                    </p>
                    <div class="mt-8 flex gap-x-4 justify-center content-center">
                        <p-button label="Ver productos" icon="pi pi-arrow-right" size="large" iconPos="right" [routerLink]="['/products']" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>